/* App.css */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
  cursor: pointer;
  font-size: 24px;
  position: relative;
}

.sound-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px; /* Space between the word and the button */
  color: #007bff; /* Color for the icon */
  font-size: 24px; /* Icon size */
  display: flex; /* Flex for button */
  align-items: center; /* Center the icon vertically */
  align-self: center; /* Center the icon vertically */
  justify-content: center; /* Center the icon horizontally */
}

.sound-button:hover {
  color: #0056b3; /* Darker color on hover */
}
